<!-- Create your form here -->
<h1>Student Form</h1>
<%= form_tag(controller: "students", action: "create") do %>
  <%= text_field_tag(:first_name) %>
  <%= label_tag(:first_name, "Type student's first name here:") %>
  <%= text_field_tag(:last_name) %>
  <%= label_tag(:last_name, "Type student's last name here:") %>
  <%= submit_tag("Submit Student") %>
<% end %>
